.infoWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;

    .infoBar {
        flex-basis: 100%;
        height: 30px;
        border-radius: 5px;
        background: $primary_color;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        @include desktop-only {
            height: 47px;
        }

        span {
            padding-left: 12px;
            font-size: 13px;
            color: #FFFFFF;

            @include desktop-only {
                padding-left: 18px;
                font-size: 24px;
            }
        }

        .openButton {
            cursor: pointer;
            width: 10px;
            height: 10px;
            border-bottom: 3px solid #FFFFFF;
            border-right: 3px solid #FFFFFF;
            position: absolute;
            right: 18px;   

            @include desktop-only {
                width: 13px;
                height: 13px;
            }

            &.open {
                transform : rotate(225deg);
                top: 40%;
            }

            &.close {
                transform : rotate(45deg);
                top: 15%;

                @include desktop-only {
                    top: 25%;
                }
            }
        }
    }

    .infoContent {
        flex-basis: 100%;
        background: #F7F7F7;
        border-radius: 5px;
        position: relative;
        z-index: 0;
        top: -9px;
        padding: 23px 12px 2px 12px;

        @include desktop-only {
            padding: 36px 18px 19px 18px;
        }

        p, li {

            font-size: 12px;
            font-weight: 300;
            color: $primary_color;

            @include desktop-only {
                font-size: 24px;
            }
        }
        
        ul {
            margin-left: 18px;
        }
        
    }
}

.fade {
    max-height: 300px;
    width: 100%;
    transition: max-height .4s ease-in-out;
    overflow: hidden;

    &.out{
        max-height: 0;
    }
}