.locationList {
    width: 100%;
    border-radius: 25px;
    margin: 22px 0 22px 0;
    padding: 0;

    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 340px);
    grid-gap: 20px;
    grid-auto-rows: minmax(100px, auto);

    @include desktop-only {
        margin: 43px 0 43px 0;
        padding: 50px 50px 50px 50px;
        grid-gap: 60px;
    }

}

.light-mode {
    .locationList {
        @include desktop-only {
            background: #F7F7F7;
        }
    }
}

.dark-mode {
    .locationList {
        @include desktop-only {
            background: #1f1f1f;
        }
    }
}