header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    margin: 20px 0 17px 0;

    @include tablet-only {
        width: 90%;   
        margin: 40px 0 50px 0; 
    }

    @include desktop-only {
        width: 90%;   
        margin: 40px 0 50px 0; 
    }

    .kasaLogo {

        img {
            width: 150px;
            filter: invert(46%) sepia(100%) saturate(1816%) hue-rotate(326deg) brightness(107%) contrast(102%);

            @include tablet-only {
                width: 100%;    
            }
    
            @include desktop-only {
                width: 100%;    
            }
        }
    }

    nav {     


        ul {     
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;

            li {
                white-space: nowrap;
                margin: 0 5px 0 5px;
                padding-top: 17px;
                list-style: none;
                font-size: 12px;
                text-transform: uppercase;

                @include desktop-only{
                    font-size: 24px;  
                    margin: 0 28px 0 28px;
                    text-transform: none;
                }


                a {
                    color: $primary_color;
                    position: relative;

                    &::after {
                        content: '';
                        position: absolute;
                        width: 100%;
                        transform: scaleX(0);
                        height: 2px;
                        bottom: 0;
                        left: 0;
                        background-color: $primary_color;
                        transform-origin: bottom left;
                        transition: transform 0.4s ease-out;
                    }

                    &:hover::after {
                        transform: scaleX(1);
                    }

                    &.actualLocation {
                        color: $primary_color;
                        position: relative;
    
                        &::after {
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 2px;
                            bottom: 0;
                            left: 0;
                            background-color: $primary_color;
                        }
                    }
                }
            }
        }
    }
}